<html>
<head>
    <meta http-equiv="refresh" content="2" >
</head>
<body>
    <h1>Safelink Status Report</h1>
    <table>
        <tr>
            <td>PENDING</td>
            <td>{{PENDING}}</td>
        </tr>
        <tr>
            <td>COMPLETE</td>
            <td>{{COMPLETE}}</td>
        </tr>
        <tr>
            <td>ACTIVE</td>
            <td>{{ACTIVE}}</td>
        </tr>
    </table>
</body>
</html>
